html
    head 
        title 
    body 
       block contenido
       form(action='/productos' method='post') 
        input(type='text' name='nombre')
        button(type='submit') Enviar datos
            